@import "tailwindcss";
@config "../tailwind.config.ts";
@import "tailwindcss-animated";
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animate-duration-\[7500ms\] {
    animation-duration: 7500ms;
  }
  .animate-duration-\[8000ms\] {
      animation-duration: 8000ms;
  }
  .animate-duration-\[8500ms\] {
      animation-duration: 8500ms;
  }
  .animate-duration-\[9000ms\] {
      animation-duration: 9000ms;
  }
  .animate-duration-\[9500ms\] {
      animation-duration: 9500ms;
  }
  .animate-duration-\[10000ms\] {
      animation-duration: 10000ms;
  }
  .animate-duration-\[10500ms\] {
      animation-duration: 10500ms;
  }
  .animate-duration-\[11000ms\] {
      animation-duration: 11000ms;
  }
  .animate-duration-\[11500ms\] {
      animation-duration: 11500ms;
  }
  .animate-duration-\[12000ms\] {
      animation-duration: 12000ms;
  }
  .animate-duration-\[12500ms\] {
      animation-duration: 12500ms;
  }
  .animate-duration-\[13000ms\] {
      animation-duration: 13000ms;
  }
  .animate-duration-\[13500ms\] {
      animation-duration: 13500ms;
  }
  .animate-duration-\[14000ms\] {
      animation-duration: 14000ms;
  }
  .animate-duration-\[14500ms\] {
      animation-duration: 14500ms;
  }
  .animate-duration-\[15000ms\] {
      animation-duration: 15000ms;
  }
  .animate-duration-\[15500ms\] {
      animation-duration: 15500ms;
  }
  .animate-duration-\[16000ms\] {
      animation-duration: 16000ms;
  }
  .animate-duration-\[16500ms\] {
      animation-duration: 16500ms;
  }
  .animate-duration-\[17000ms\] {
      animation-duration: 17000ms;
  }
  .animate-duration-\[17500ms\] {
      animation-duration: 17500ms;
  }
  .animate-duration-\[18000ms\] {
      animation-duration: 18000ms;
  }
  .animate-duration-\[18500ms\] {
      animation-duration: 18500ms;
  }
  .animate-duration-\[19000ms\] {
      animation-duration: 19000ms;
  }
  .animate-duration-\[19500ms\] {
      animation-duration: 19500ms;
  }
  .animate-duration-\[20000ms\] {
      animation-duration: 20000ms;
  }
  .animate-duration-\[20500ms\] {
      animation-duration: 20500ms;
  }
  .animate-duration-\[21000ms\] {
      animation-duration: 21000ms;
  }
  .animate-duration-\[21500ms\] {
      animation-duration: 21500ms;
  }
  .animate-duration-\[22000ms\] {
      animation-duration: 22000ms;
  }
  .animate-duration-\[22500ms\] {
      animation-duration: 22500ms;
  }
  .animate-duration-\[23000ms\] {
      animation-duration: 23000ms;
  }
  .animate-duration-\[23500ms\] {
      animation-duration: 23500ms;
  }
  .animate-duration-\[24000ms\] {
      animation-duration: 24000ms;
  }
  .animate-duration-\[24500ms\] {
      animation-duration: 24500ms;
  }
  .animate-duration-\[25000ms\] {
      animation-duration: 25000ms;
  }
  .animate-duration-\[25500ms\] {
      animation-duration: 25500ms;
  }
}